.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.DiceBoard {
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: calc(8px + 2vmin);
  color: #111111;
}

.outlineAdv {
  border: 2px solid #282c34;
  outline-style: double;
  outline-color: rgb(163, 75, 214);
}

.outlineMove {
  border: 2px solid #54008b;
  box-shadow: 0 0 5vh -4px rgba(69, 11, 122, 0.603);
}

.submitBtn {
  display:inline-block;
  color:#444;
  border:1px solid #CCC;
  background:#fff;
  box-shadow: 0 0 1vh -1px rgba(0,0,0,0.2);
  cursor: pointer;
  vertical-align: middle;
  padding: 2vh;
  text-align: center;
}
.submitBtn:active {
  color:red;
  box-shadow: 0 0 5px -1px rgba(0,0,0,0.6);
}